.home{
    text-align: center;
  display: grid;
  position: absolute;
  top: 40%;
  left: 42%;
  height: 30%;
  width: 20%;
}

.btn {
    text-align: center;
    align-items: center;
    font-size: 24px;
    border-radius: 10px;
    margin: 10px;
  }
  
  .admin{
    color: white;
    background-color: red;
    text-transform: uppercase;
  }
  
  
  .monitoring{
    text-transform: uppercase;
    background-color: green;
    color: white;
  }
  
  .statistics{
    color: white;
    text-transform: uppercase;
    background-color: teal;
  }
  
  .topbar{
    height: 75px;
    font-size: 24px;
    background-color: teal;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .body{
    background-image: url(/src/images/forest.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }