.buttonMenu{
    display: grid;
    left: 42%;
    position: absolute;
    top: 24%;
}

.temp{
    background-color: orange;
    color: white;
    width: 300px;
    height: 70px;
    align-items: center;
    justify-content: center;
}

.humid{
    background-color: orange;
    color: white;
    width: 300px;
    height: 70px;
    align-items: center;
    justify-content: center;
}

.lumin{
    background-color: orange;
    color: white;
    width: 300px;
    height: 70px;
    align-items: center;
    justify-content: center;
}

.precip{
    background-color: orange;
    color: white;
    width: 300px;
    height: 70px;
    align-items: center;
    justify-content: center;
}

.ultra{
    background-color: orange;
    color: white;
    width: 300px;
    height: 70px;
    align-items: center;
    justify-content: center;
}


.poll{
    background-color: orange;
    color: white;
    width: 300px;
    height: 70px;
    align-items: center;
    justify-content: center;
}