.selectMenu{
    font-size: 20px;
    width: 180px;
    height: 60px;
    display: inline-grid;
    justify-content: center;
    position: absolute;
    align-items: center;
    margin-top: 15px;
    left: 45%;
    top: 10%;
}

.select{
    width: 100px; 
    height: 50px;
    position: absolute;
    top: 60%;
    left: 47%;
}